<!--This page is an extension of the base.html page that defines the structure of each page using the Python flask module.-->
{% extends 'base.html' %}

{% block header %}
  <!--Header for title of the page-->
  <h2>{% block title %}Contact Information{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <!--This is where i set up a "mailto" link to my jhu email address-->
  <p>Email: <a href= "mailto:khouseh2@jhu.edu">khouseh2@jhu.edu</a></p>
  <p></p>
  <!--This is where i added a link to my linkedin profile-->
  <p>LinkedIn Profile: <a href= "https://www.linkedin.com/in/kevinhouseholder">Kevin Householder LinkedIn Profile</a></p>
{% endblock content %}