<!--This page is an extension of the base.html page that defines the structure of each page using the Python flask module.-->
{% extends 'base.html' %}

{% block header %}
  <!--Header defined to show "interests" title-->
  <h2>{% block title %}Interests{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <!--list showing some of my interests and things i like to do for fun-->
  <ul>
    <li>Family: Kevin loves to spend time with his beautiful wife Annah, and their 17 pound cat named Darwin (they found him under their shed in 2021).</li>
    <p></p>
    <li>Music: Kevin loves to play guitar, piano, and sing.  He has been involved in music his whole life, but formally for about 20 years.</li>
    <p></p>
    <li>Traveling: Kevin loves to travel with his wife Annah.  Their favorite place they have ever been in their life is Sao Miguel, Azores in Portugal.</li>
    <p></p>
    <li>Languages: Kevin loves to learn languages.  He currently has a 446 day streak on duolingo.  He enjoys learning Spanish, German, Portuguese, Italian, and Rusian</li>
    <p></p>
    <li>Programming: Kevin fell in love with programming around 2013, and has dabbled in many fields of programming.  Working at the CMU Software Engineering Institute was the coolest programming work he has been involved in.</li>
    <p></p>
  </ul>
{% endblock content %}