{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Project Information{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <h1>Module 1 Project Title: Module 1 Website</h1>
  <div>My module #1 project consists of a website (with a few pages) that provides a bio of my work, my contact information as well as information about the module 1 project.  It is pretty cool, I hope you like it!</div>
  <p></p>
  <a href="https://github.com/kgh827/jhu_software_concepts/tree/main/module_1">Click on me to travel to the source code for Assignment #1 on Github</a>
{% endblock content %}