* {
    box-sizing: border-box;
  }

  /*The atari3 font below was from a website i made at a previous employer (CMU Cylab Biometrics Center)*/
  @font-face {
    font-family: atari3;
    src: url('../fonts/ATARCS__.TTF');
  }

  nav {
    text-align: right;
    background: #1e73be;
  }

  body {
    font-family: "atari3",monospace;
    font-size: 20px;
    margin: 5px;
    text-align: left;
    color: #35ea2f;
    background-color: #000000;
    text-shadow: 0 0 0px rgba(26,255,128,1);
    border: 1px none rgba(65,255,0,0.9);
  }
  
  a,
  a:visited {
    color:#0056b3;
  }
  
  a:hover {
    color:#ff0011;
  }
  
  .header-name{
    background-color: #000000;
  }

  .site-nav {
    background-color: #35ea2f;
    padding: 12px 16px;
  }


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: flex-end;

}

.nav-links li a {
  font-family: "atari3",monospace;
  text-decoration: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.15);
  transition: background 0.1s ease, transform 0.1s ease-in-out;
}

.nav-links li a:hover {
  background: rgba(176, 189, 178, 0.664);
}

.nav-links li a:active {
  transform: translateY(1px);
}

.nav-links li.active a,
.nav-links li.active a:hover,
.nav-links li.active a:active {
  font-family: "atari3",monospace;
  background: #494a4c; 

  color: #35ea2f;
}
  
.split {
  display: flex;
  align-items: top;       
  gap: 0px;                
  min-height: 300px;
}

.split-left  { flex: 1 1 60%; }
.split-right { flex: 1 1 40%; display: flex; justify-content: flex-end; }

.split-img {
  width: 100%;
  max-width: 500px;          
  height: auto;
  border-radius: 2px;       
  object-fit: cover;        
}

  main {
    width: 96%;
    margin: 0 auto;
  }