<!--This page is where the list for the navigation bar buttons is originally defined, and then later modified by use of css-->
<nav class="site-nav">
  <ul class="nav-links">
    <li class="{% if request.path == url_for('pages.home') %}active{% endif %}">
      <a href="{{ url_for('pages.home') }}">Home</a>
    </li>
    <li class="{% if request.path == url_for('pages.interests') %}active{% endif %}">
      <a href="{{ url_for('pages.interests') }}">Interests</a>
    </li>
    <li class="{% if request.path == url_for('pages.contact') %}active{% endif %}">
      <a href="{{ url_for('pages.contact') }}">Contact</a>
    </li>
    <li class="{% if request.path == url_for('pages.projects') %}active{% endif %}">
      <a href="{{ url_for('pages.projects') }}">Publications</a>
    </li>
  </ul>
</nav>